{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<h2>Review Bucket</h2>

{% for market_pk,item in request.session.cart.items %}
<h3>Market {{item.name}}</h3>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th class="col_prices">Price</th>
    </tr>
        {% for bucket_item in item.products %}
        <tr class="product_row">
            <td>{{bucket_item.name}}</td>
            <td class="price euro_price">{{bucket_item.price}}</td>
            <td >{{bucket_item.quantity}}</td>
            <th class="total_price euro_price">{{bucket_item.total_price|floatformat:2}}</th>
        </tr>
        {% endfor %}
    <tr>
        <th colspan="3" class='text-right'>Total Price</th>
        <th id="total" class="euro_price">{{total_price|floatformat:2}}</th>
    </tr>
</table>
{% endfor %}

<form method="post">
{% csrf_token %}
    <h3>Proceed to Checkout</h3>
    {{form|crispy}}
    <div class="float-right">
    <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
    <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>
{% endblock%}
