{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Review Bucket</h2>

<form method="post">
{% csrf_token %}


    <table class="table">
        <tr>
            <th>Photo</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{% if object.product.image%}<img src="{{object.product.image.url}}" class="image_thumb"/>{% endif %}</td>
            <td>{{object.product}}</td>
            <td>{{object.product.price}}</td>
            <td>{{object.quantity}}</td>
            <td>{{object.total_price}}</td>
            <td></td>
        </tr>
        {% endfor %}

    </table>
    
<h3>Proceed to Checkout</h3>
{{form|crispy}}

    <div class="float-right">
    <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>
{% endblock%}